<div id="form-messages">

</div>

<form id="ajax-contact" method="post" action="/users/new">
  <div class="field">
      <label for="name"> Name</label>
      <input type="text" id="name" name="name" required>
  </div>

  <div class="field">
      <label for="city">Favorite City</label>
      <input id="city" name="city" required>
  </div>

  <div class="field">
      <button type="submit">Save</button>
  </div>
</form>
