<form action="/user/new" method="post" id="create_user">
  Name <input name="name" type="text" placeholder="Name"><br>
  Favorite City <input name="city" placeholder="City" required><br>
  <input type="submit" value="Submit">
</form>
